@import "assets/styles/variables.scss";

header {
  position: relative;

  .header-top-container {
    border-bottom: $bold-border !important;
    display: grid;
    justify-content: space-between;
    grid-template-columns: 250px auto;
    padding-left: 120px;
    padding-right: 120px;

    @media (max-width: 800px) {
      padding-left: 20px;
      padding-right: 20px;
      grid-template-columns: 1fr 1fr 1fr !important;
    }

    @media (max-width: 425px) {
      padding-left: 0px;
      padding-right: 0px;
      grid-template-columns: 1fr 2fr 1fr !important;
    }

    .mobile-menu-btn {
      display: flex;
      align-items: center;
      padding-left: 22px;
      cursor: pointer;

      @media (min-width: 800px) {
        display: none;
      }

      @media (max-width: 425px) {
        justify-content: center;
        padding-left: 0px;
      }
    }

    .header-top-left {
      border-right: $bold-border !important;

      @media (max-width: 800px) {
        border-right: none !important;
        border-left: $bold-border !important;
      }

      .logo {
        font-size: 18px;
        font-weight: 900;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-top: 16px;
        padding-bottom: 16px;
        cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🏠😀</text></svg>")
            16 0,
          auto; /*!emojicursor.app*/

        @media (max-width: 800px) {
          justify-content: center;
        }

        @media (max-width: 425px) {
          font-size: 14px;
          padding-top: 12px;
          padding-bottom: 12px;
          justify-content: center;
        }
      }
    }

    .header-top-right {
      border-left: $bold-border;
      display: flex;

      @media (max-width: 800px) {
        border-left: none;
      }

      .lang-selection-box {
        display: flex;
        align-items: center;
        padding-left: 10px;
        padding-right: 10px;

        @media (max-width: 800px) {
          display: none;
          border-left: none;
        }

        span {
          font-weight: 300;

          &:first-child {
            margin-right: 5px;
          }

          &:last-child {
            margin-left: 5px;
          }

          &:hover {
            cursor: pointer;
          }
        }

        .selected-lang {
          font-weight: 800;
        }
      }

      .header-user-actions {
        border-left: $bold-border;
        display: flex;
        align-items: center;

        .action-btn {
          margin-right: 12px;
          margin-left: 12px;

          @media (max-width: 425px) {
            margin-right: 8px;
            margin-left: 8px;
          }

          @media (max-width: 320px) {
            margin-right: 4px;
            margin-left: 4px;
          }

          span {
            font-size: 20px;
            font-weight: 600;

            @media (max-width: 425px) {
              font-size: 14px;
            }

            &:hover {
              cursor: pointer;
            }
          }
        }
      }
    }
  }

  .header-bottom-container {
    border-bottom: $bold-border;
    padding-top: 6px;
    padding-bottom: 6px;

    @media (max-width: 800px) {
      display: none;
    }

    .menu-list-container {
      display: flex;
      justify-content: space-around;

      @media (max-width: 880px) {
        font-size: 14px;
      }
    }
  }
}
