@import "assets/styles/variables.scss";

.blog-post-container {
  background-color: $base-yellow;
  border: $light-border;
  padding: 12px;

  div {
    &:not(:last-child) {
      margin-bottom: 14px;
    }
  }

  .post-image {
    border: $light-border;
    img {
      width: 100%;
      height: 100%;
    }
  }

  .post-short-infos {
    .post-title {
      font-weight: 700;
      font-size: 14px;
    }

    .post-desc {
      font-weight: 500;
      font-size: 16px;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-align: justify;
    }
  }

  .layered-button-container {
    width: 100%;
  }
}
