@import "assets/styles/variables.scss";

.flat-button-container {
  color: $base-white;
  background-color: $base-black;
  border: $light-border;
  transition: background-color 0.2s ease-in;
  width: fit-content;
  padding: 12px 42px;

  &:hover {
    cursor: pointer;
  }

  &:active {
    background-color: $base-red;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='28' height='34' viewport='0 0 100 100' style='fill:black;font-size:17px;'><text y='50%'>👍</text></svg>")
        16 0,
      auto; /*!emojicursor.app*/
  }

  .front-button {
    text-align: center;
    font-weight: 600;

    span {
      transition: transform 0.1s ease-in;
      margin-left: 8px;
    }
  }
}

.layered-button-container.text-sm {
  font-size: 16px;
}

.layered-button-container.text-md {
  font-size: 22px;
}
